#myHeader {
    background-color: sandybrown;
    color: cyan;
    padding: 40px;
    margin: 50px;
    border-style: solid;
    border-color: blue;
    border-width: 0px 0px 0px 5px;
    text-align: center;
}

.city {
    background-color: darkgoldenrod;
    color: cyan;
    padding: 40px;
    margin: 50px;
    border-style: solid;
    border-color: blue;
    border-width: 0px 0px 0px 5px;
}